<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspexp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<description>database_ip</description>
  	<param-name>DB_IP</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
  	<description>database_port</description>
  	<param-name>DB_PORT</param-name>
  	<param-value>1521</param-value>
  </context-param>
  <context-param>
  	<description>database_sid</description>
  	<param-name>DB_SID</param-name>
  	<param-value>XE</param-value>
  </context-param>
  <context-param>
  	<description>database_username</description>
  	<param-name>DB_USERNAME</param-name>
  	<param-value>SCOTT</param-value>
  </context-param>
  <context-param>
  	<description>database_pass</description>
  	<param-name>DB_PASS</param-name>
  	<param-value>tiger</param-value>
  </context-param>
  <context-param>
  	<description>이미지경로</description>
  	<param-name>IMG_PATH</param-name>
  	<param-value>/c01_img/</param-value>
  </context-param>
  <context-param>
  	<description>다운로드경로</description>
  	<param-name>DOWN_PATH</param-name>
  	<param-value>/c02_down/</param-value>
  </context-param>
  <error-page>
  	<error-code>404</error-code>
  	<location>/z01_jsp/a08_exception/a02_404.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/z01_jsp/a08_exception/a03_nullPointer.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
  	<location>/z01_jsp/a08_exception/a04_indexOfBound.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/z01_jsp/a08_exception/a05_Exception.jsp</location>
  </error-page>
  
  <!--  session-timeout : 분단위 세션 설정 (서버단위) -->
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
</web-app>






